/* Default */
.demojslib-doc {
	max-height: 40rem;
	overflow: auto;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}
#demojslib {
	.col {
		margin-bottom: 1rem;
	}
	.card {
		text-align: center;
		border-radius: .5rem;
		padding: .5rem;
		border: solid .0625rem #E0E0E0;
		box-shadow: .25rem .25rem .75rem #C0C0C0;
		.card-title {
			color: #2196f3 !important;
			font-size: 1rem;
		}
		.card-subtitle {
			color: #7cb342 !important;
		}
		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

/* Theme-specific */
.simplicite-theme-ThemeAdmin { /* stylelint-disable-line selector-class-pattern */
	#demojslib {
		.card {
			background-color: #575562;
			border-color: #5C5B64;
			box-shadow: .25rem .25rem .75rem #1C1B22;
		}
		.card-subtitle {
			color: #ffc107 !important;
		}
	}
}