/* Default */
#demojslib {
	.card {
		text-align: center;
		border-radius: .5rem;
		padding: .5rem;
		border: solid .0625rem #E0E0E0;
		box-shadow: .5rem .5rem .75rem #A0A0A0;
	}
}

/* Theme-sepcific */
.simplicite-theme-ThemeAdmin {
	#demojslib {
		.card {
			border-color: #5c5b64;
			box-shadow: .5rem .5rem .75rem #2b2a33;
		}
	}
}